{{ define "main" }}
<section class="hero-area">
	<div class="container">
		<img src="/img/hero-services.jpg" />
		<div class="hero-heading">
			<div class="hero-heading-content">
				<h1>{{ .Param "hero_area_title" }}</h1>
				<h2>{{ .Param "hero_area_tagline" | markdownify }}</h2>
			</div>
		</div>
	</div>
</section>

<section class="top-blurbs">
	<div class="container">
		<div class="row clearfix">
			{{ range .Params.services }}
			<div class="col third {{ .class }}">
				<h1 class="{{ .headingclass }}">{{ .heading }}</h1>
				<p>{{ .desc }}</p>
				<a href="{{ .url }}" class="btn {{ .btnclass }}">
					{{ .button }} <i class="icon-arrow-down"></i>
				</a>
			</div>
			{{ end }}
		</div>
	</div>
</section>

<section class="jump">
	<div class="container">
		<div class="row clearfix">
			<div class="col full">
				<a data-scroll href="#team-extensions">
					<i class="icon-arrow-down"></i>
				</a>
			</div>
		</div>
	</div>
	<div id="team-extensions"></div>
</section>

<section class="team-extensions blue-dark">
	<div class="container">
		<div class="row clearfix">
			<div class="col fourth flow-opposite">
				<img src="/img/workers.svg" />
			</div>
			<div class="col three-fourths">
				<h1>{{ .Param "pop_headline" }}</h1>
			</div>
		</div>
		
		<div class="row clearfix">
			<div class="col half">
				<h2>{{ .Param "whyteamext.title" }}</h2>
				<p>{{ .Param "whyteamext.desc" }}</p>
				<ul>
					{{ range .Params.whyteamextlist}}
						<li>{{ .data }}</li>
					{{end}}
				</ul>
				<a target="_blank" class="btn" href="{{ .Param "whyteamext.url" }}">
					{{ .Param "whyteamext.button" }}
				</a>
			</div>
			
			<div class="col half">
				<h2>{{ .Param "whysynergy.title" }}</h2>
				<p>{{ .Param "whysynergy.desc" }}</p>
				<ul>
					{{ range .Params.whysynergylist}}
						<li>{{ .data }}</li>
					{{end}}
				</ul>
				<a class="btn" href="{{ .Param "whysynergy.url" }}">
					{{ .Param "whysynergy.button" }}
				</a>
			</div>
		</div>
	</div>
</section>

<section class="jump">
	<div class="container">
		<div class="row clearfix">
			<div class="col full">
				<a data-scroll href="#project-outsourcing"><i class="icon-arrow-down"></i></a>
			</div>
		</div>
	</div>
	<div id="project-outsourcing"></div>
</section>

<section class="project-outsourcing blue-light">
	<div class="container">
		<div class="row clearfix">
			<div class="col fourth flow-opposite">
				<img src="/img/atdesk.svg" />
			</div>
			<div class="col three-fourths">
				<h1>{{ .Param "qc_headline" }}</h1>
			</div>
		</div>
		
		<div class="row clearfix">
			<div class="col half">
				<h2>{{ .Param "qcost.title" }}</h2>
				<p>{{ .Param "qcost.desc" }}</p>
				<ul>
					{{ range .Params.qcostlist}}
						<li>{{ .data }}</li>
					{{end}}
				</ul>
			</div>
			
			<div class="col half">
				<h2>{{ .Param "whysynergyqcost.title" }}</h2>
				<p>{{ .Param "whysynergyqcost.desc" }}</p>
				<ul>
					{{ range .Params.whysynergyqcostlist}}
						<li>{{ .data }}</li>
					{{end}}
				</ul>
				<a class="btn" href="{{ .Param "whysynergy.url" }}">{{ .Param "whysynergyqcost.button" }}</a>
			</div>
		</div>
	</div>
</section>

<section class="jump">
	<div class="container">
		<div class="row clearfix">
			<div class="col full">
				<a data-scroll href="#innovation-incubator"><i class="icon-arrow-down"></i></a>
			</div>
		</div>
	</div>
	<div id="innovation-incubator"></div>
</section>

<section class="innovation-incubator pink">
	<div class="container">
		<div class="row clearfix">
			<div class="col fourth flow-opposite">
				<img src="/img/lightbulb.svg" />
			</div>
			<div class="col three-fourths">
				<h1>{{ .Param "turbo_headline" }}</h1>
			</div>
		</div>
		
		<div class="row clearfix">
			<div class="col half">
				<h2>{{ .Param "whyincubator.title" }}</h2>
				<p>{{ .Param "whyincubator.desc" }}</p>
				<ul>
					{{ range .Params.whyincubatorlist}}
						<li>{{ .data }}</li>
					{{end}}
				</ul>
			</div>
			
			<div class="col half">
				<h2>{{ .Param "whysynergyturbo.title" }}</h2>
				<p>{{ .Param "whysynergyturbo.desc" }}</p>
				<ul>
					{{ range .Params.whysynergyturbolist}}
						<li>{{ .data }}</li>
					{{end}}
				</ul>
				<a class="btn" href="{{ .Param "whysynergyturbo.url" }}">
					{{ .Param "whysynergyturbo.button" }}
				</a>
			</div>
		</div>
	</div>
</section>
{{ end }}	